---
import Page from "@/layouts/Page.astro";

export const title = "About";
export const size = 3;
export const bg = "bg-fuchsia-300";
---

<Page bg={bg} title={title}>
	<h1 class="lowercase text-3xl">About</h1>
</Page>
