---
import Page from "../layouts/Page.astro";
import { links } from "../config";

const { title, bg } = links.about;
---

<Page title={title} bg={bg}>
	<h1 class="lowercase text-3xl">About</h1>
</Page>
