---
import Page from "@/layouts/Page.astro";

export const title = "Contact";
export const size = 2;
export const bg = "bg-orange-300";
---

<Page bg={bg} title={title}>
	<h1 class="lowercase text-3xl">Contact</h1>
</Page>
