---
import BaseLayout from "../layouts/BaseLayout.astro";
import MainNav from "../components/MainNav";
---

<BaseLayout bg="bg-indigo-200" title="snailypo">
	<main
		class={`min-w-[100vw] min-h-[100vh] flex flex-col justify-start gap-20 items-center p-10`}>
		<h1 class="flex-[0] lowercase text-7xl text-indigo-500 text-left w-full">
			Snaily<span class="text-red-400">Po</span>
		</h1>
		<MainNav client:load />
	</main>
</BaseLayout>
