---
import Page from "../layouts/Page.astro";
import Zines from "../components/Zines";
---

<Page bg="bg-indigo-300" title="Zines - snailypo">
	<h1 class="lowercase text-3xl">Zines</h1>
	<Zines client:load />
</Page>
