---
import "@fontsource/sniglet";
import "@/style.css"

interface Props {
	title: string;
	bg_class: string;
}

const { title, bg_class } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={ bg_class }>
		<slot />
	</body>
</html>
