---
import "@fontsource/sniglet";
import "@/style.css";
import type { Page } from "@/utils";
import { getNameFromTitle } from "@/utils";

type Props = Pick<Page, "title" | "bg">;

const { props } = Astro
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{props.title}</title>
	</head>
	<body class={`group ${props.bg} on-route-${getNameFromTitle(props.title)}`}>
		<slot />
	</body>
</html>
